@font-face {
  font-family: "iconfont"; /* Project id 3476752 */
  src: url('iconfont.woff2?t=1657767593004') format('woff2'),
       url('iconfont.woff?t=1657767593004') format('woff'),
       url('iconfont.ttf?t=1657767593004') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\e692";
}

.icon-suo:before {
  content: "\e80a";
}

.icon-fangxingweixuanzhong:before {
  content: "\e720";
}

.icon-fangxingxuanzhong:before {
  content: "\e722";
}

.icon-sousuo:before {
  content: "\e6b2";
}

.icon-caidan:before {
  content: "\e6b3";
}

